* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body {
  background: var(--body-bg-color);
}

body * {
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--text-color);
}

#containers {
  display: flex;
  /* border: 1px solid red; */ 
}

#left-container {
  /*border: solid 1px red;*/
  width: 100%;
  max-width: 348px;
  margin: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Profile */
#profile {
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 128px;
  height: 128px;
  margin: auto;
  border: 2px solid;
  border-radius: 50%;
}

#profile h1 {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  margin-top: 12px;
}

#profile p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin: 10px auto;
}

/* Links */
#links {
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 24px;
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#links li {
  display: flex;
}

#links img {
  width: 24px;
  height: 24px;
  margin: 0px 20px;
}

#links p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 5px 0px;
}

/* Tecnologias */
#tech {
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 24px;
}

#tech h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

#tech ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

#tech p {
  display: flex;
  width: 86px;
  height: 24px;
  background: var(--bg-techs);
  border-radius: 30px;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  justify-content: center;
  align-items: center;
  color: black;
}

/* Formações */
#Educational-Background {
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 24px;
}

#Educational-Background h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

#Educational-Background ul {
  margin-left: 40px;
}

#Educational-Background li {
  margin-bottom: 20px;
}

#Educational-Background h3{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
#Educational-Background p{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

/* Container Principal */
#main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
}

/* Projetos */
#myprojects {
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 40px 40px auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 870px;
  height: 86px;
  padding: 30px;
}

#myprojects p {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

#myprojects a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

#myprojects a:hover {
  text-decoration: underline;
}

